.items {
    width: 25%;
    text-align: center;
}

.container {
    display: flex;
    margin: 2% 10%;
    flex-wrap: wrap;
    justify-content: space-around;
}

img {
    width: 180px;
}

form {
    text-align: center;
    display: flex;
    margin: 4% 10%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button {
    width: 100%;
    margin: 8% 30%;
}

.add_plant_form {
    text-align: center;
    margin-top: 8%;
}

.main_heading {
    margin-top: 6%;
    font-size: 4rem;
    font-style: italic;
    text-align: center;


}
